body {
    background-image: url("../img/background/keith-misner-h0Vxgz5tyXA-unsplash.jpg");
    color: #4d0808;
}
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td, tr{
    border: 1px, solid, #aa7777;
    padding: 0.5rem;
}
minikep{
    float: right;
    width: 400px;
    margin-left: 20px;
    border: 3px, thick, #4d0808;
}